.custom-cursor {
    position: fixed;
    top: -9px;
    left: -9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid var(--color-text-primary);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

@media (pointer: coarse) {
    .custom-cursor {
        display: none;
    }
}
